.logo_container {
  margin-right: 20px;
}

header,
footer {
  background-color: #393939;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

header {
  margin-bottom: 10px;
  padding: 20px;
}

.title {
  flex: 1;
}

.title h1 {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.4;
}

.connection p {
  margin: 0;
}

/*************************************
 LVHA pour le lien de connection/déconnection
**************************************/
.connectLink {
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition-duration: 300ms;
}

.connectLink:visited {
  color: #ddd;
}

.connectLink:hover {
  color: white;
  text-decoration: underline;
}

.connectLink:active,
.connectLink:focus {
  color: white;
  text-decoration: underline;
}

/* ********************************* */

.nav {
  padding-top: 10px;
  display: block;
  text-decoration: none;
  color: #393939;
}

.navigation ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navigation ul li:first-child {
  border-color: #d9e767;
}

.navigation ul li:first-child:hover {
  background-color: #d9e767;
}

.link1 {
  background-color: #d9e767;
}

.navigation ul li:nth-child(2) {
  border-color: #adda50;
}

.navigation ul li:nth-child(2):hover {
  background-color: #adda50;
}

.link2 {
  background-color: #adda50;
}

.navigation ul li:nth-child(3) {
  border-color: #4fbec6;
}

.navigation ul li:nth-child(3):hover {
  background-color: #4fbec6;
}

.link3 {
  background-color: #4fbec6;
}

.navigation ul li:nth-child(4) {
  border-color: #3e7c8c;
}

.navigation ul li:nth-child(4):hover {
  background-color: #3e7c8c;
}

.link4 {
  background-color: #3e7c8c;
  color: white;
}

.navigation ul li:last-child {
  border-color: #284659;
}

.navigation ul li:last-child:hover {
  background-color: #284659;
}

.link5 {
  background-color: #284659;
  color: white;
}

.navigation ul li a {
  transition-duration: 613ms;
}

.navigation ul li:hover a {
  color: white;
}

.navigation li {
  font-size: 23px;
  text-align: center;
  flex: 1;
  border-top-color: #adda50;
  border-top-width: 10px;
  border-top-style: solid;
  transition-duration: 613ms;
}

/* -----------------------------------------------
Footer
----------------------------------------------- */
footer {
  margin-top: auto;
  padding: 0.8em 1em 0 1em;
  justify-content: space-between;
}

.adresse {
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* -----------------------------------------------
  Responsive
----------------------------------------------- */
@media (max-width: 600px) {
  /* La nav */
  .navigation ul {
    flex-direction: column;
  }

  .navigation ul li {
    border-top: 0;
    text-align: left;
    border-left-width: 10px;
    border-left-style: solid;
  }

  .nav {
    padding-left: 1em;
  }

  /* Le header */
  header {
    flex-direction: column;
    text-align: center;
  }

  .logo_container {
    margin-right: 0;
  }

  footer {
    flex-direction: column;
  }

  footer p:last-of-type {
    margin-bottom: 0;
  }
}
