.main_news {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news_section {
  background-color: rgb(240, 240, 240);
  border-radius: 2px;
  margin: 20px 0;
  padding: 15px;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.news_tittle {
  display: block;
  padding: 10px;
  background: #adda50;
  margin: 0 15px;
}

.news_content {
  display: flex;
  padding: 15px;
}

.news_content p {
  padding: 15px;
}
