.main_news {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;

}

.news_section {
  background-color: rgb(240, 240, 240);
  border-radius: 2px;
  margin: 20px 0;
  padding: 15px;
  display: flex;
  flex-direction: column;

}

.news_tittle {
  display: block;
  padding: 10px;
  background: #adda50;
  margin: 0 15px;
}

.news_content {
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.news_content p {
  padding: 15px;
}
.img_content {
  margin: 0 auto;
  max-width: 500px;
  max-height: 500px;
}
.news_content img {
  width: 100%;
  height: 100%;
}
