.titleList {
	color: #456789;
}

/* -----------------------------------------------
  La section des projets
----------------------------------------------- */

.projectSection {
  display: flex;
  margin-top: 2em;
  align-items: stretch;
}

.listProject {
  min-width: 23%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: white;
}

.listProjectContent {
  overflow-y: scroll;
  border: 1px solid silver;
  margin-right: 3em;
  padding: 0.5em;
  flex-grow: 1;
}

.project {
  padding: 0.5em;
  margin-bottom: 1em;
  background-color: #f8f8f8;
}

.blocTitleProject {
  margin-bottom: 0.5em;
}

.previewProject {
  flex: 2;
  border-radius: 5px;
}

.blocTitleProject {
  display: flex;
  color: #456789;
}

.blocTitleProject1 {
  min-width: 23%;
}

.labelProject {
  margin: 0.3em;
  display: block;
}

.formControl {
  width: 100%;
  margin: 0.2em 0 0.3em 0;
}

.formButton {
  text-align: right;
  margin-top: 1.5em;
}

/* Le glyphicon des projets */
.glyphicon:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .projectSection {
    flex-direction: column;
  }

  .listProject {
    margin-bottom: 3em;
  }
}
